{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

{% if latest_question_list %}
    <ul style="list-style: none;">
    {% for question in latest_question_list %}
    <li>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Poll Number: {{ question.id }}</h3>
          <br>
          <h5 class="card-text">{{ question.question_text }}</h5>
          <br>
          <p class="card-text">Please vote for electronic notifications.</p>
          <br>
          <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary">Go Vote!</a>
        </div>
      </div>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}
